<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Selenium HTML tests for Security Group Operations. The test will be executed for ui-test-acct-01/user00</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>console_ip</name>
          <description>IP address of eucalyptus console</description>
          <defaultValue>10.111.101.112</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>console_protocol</name>
          <description>Protocol that eucalyptus console uses: can be http or https</description>
          <defaultValue>http</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>browser_type</name>
          <description>Browser type for the test: can be firefox or iexplorer</description>
          <defaultValue>firefox</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>repo_url</name>
          <description>Github repo URL of test suite</description>
          <defaultValue>https://github.com/eucalyptus/se34euca</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>dir</name>
          <description>Directory of the cloned test suite</description>
          <defaultValue>/root/se34euca/selenium_ide/Jenkins_3.4.2/UI-manual-tests_1.html</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>branch</name>
          <description></description>
          <defaultValue>master</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>test_suite_name</name>
          <description></description>
          <defaultValue>SECURITY_GROUP_OPERATIONS.html</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>git clone $repo_url

cd /root/se34euca

git checkout $branch

cd 

java -jar /root/selenium-server-standalone-2.39.0.jar -userExtensions &quot;/root/user-extensions.js&quot; -htmlSuite &quot;*$browser_type&quot; &quot;$console_protocol://$console_ip:8888&quot; &quot;/root/se34euca/selenium_ide/KOALA/$test_suite_name&quot; &quot;Koala_SECURITY_GROUP_OPS.html&quot; -trustAllSSLCertificates</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>Koala_SECURITY_GROUP_OPS.html</artifacts>
      <latestOnly>false</latestOnly>
      <allowEmptyArchive>false</allowEmptyArchive>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
</project>